[submodule "cpp_scripts/3rdparty/json"]
	path = cpp_scripts/3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "cpp_scripts/3rdparty/cxxopts"]
	path = cpp_scripts/3rdparty/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "cpp_scripts/3rdparty/sentencepiece"]
	path = cpp_scripts/3rdparty/sentencepiece
	url = https://github.com/google/sentencepiece
[submodule "cpp_scripts/3rdparty/cpp-httplib"]
	path = cpp_scripts/3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib